<!DOCTYPE html>
<html>
<head>
	<title>实战教程</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.bootcss.com/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/mynavbar.css">
	<link rel="stylesheet" href="/static/ml_practice/ml_practice.css">
</head>

<body>
		<header id="myheader" class="navbar navbar-expand-md navbar-dark fixed-top">
		<div class="container">
			<section id="mybrand">
				<a class="navbar-brand" href="/">机器学习</a>
			</section>
			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<section class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
				<ul class="navbar-nav">
					<li class="nav-item mr-4">
						<a class="nav-link" href="/tutorial">入门教程</a>
					</li>
					<li class="nav-item mr-4">
						<a class="nav-link" href="/practice">实战教程</a>
					</li>
					<li class="nav-item mr-4">
						<a class="nav-link" href="/news">新闻资讯</a>
					</li>
					<li class="nav-item mr-4">
						<a class="nav-link" href="/blog">开发日志</a>
					</li>
				</ul>
				<div v-if="username">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="#">{{ username }}</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/signout">注销</a>
						</li>
					</ul>
				</div>
				<div v-else>
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="/signin">登录</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/signup">注册</a>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</header>

	<main class="container" id="practice">
		<aside>
			<section id="sidebar">
				<div id="sidebar-title">泰坦尼克生存预测</div>
				<div>
					<ul id="sidebar-menu">
						<li v-on:click="article_number = 1">赛题简介</li>
						<li v-on:click="article_number = 2">数据分析</li>
						<li v-on:click="article_number = 3">特征工程</li>
						<li v-on:click="article_number = 4">模型运用</li>
						<li v-on:click="article_number = 5">赛题总结</li>
					</ul>
				</div>
			</section>
		</aside>
		<article class="row">
			<section v-show="article_number === 1" id="article1">
				<h3 id="title1">赛题简介</h3>
				<div id="content1">
					<pre>{{ mycontent1 }}</pre>
				</div>
			</section>

			<section v-show="article_number === 2" id="article2">
				<h3 id="title2">数据分析</h3>
				<div id="content2">
					<p>
						Overview
					</p>
					<p>
						The data has been split into two groups:
					</p>
					<ul>
						<li>
							training set (train.csv)
						</li>
						<li>
							test set (test.csv)
						</li>
					</ul>
					<p>
						The training set should be used to build your machine learning models. For the training set, we provide the outcome (also known as the “ground truth”) for each passenger. Your model will be based on “features” like passengers’ gender and class. You can also use feature engineering to create new features.
					</p>
					<p>
						The test set should be used to see how well your model performs on unseen data. For the test set, we do not provide the ground truth for each passenger. It is your job to predict these outcomes. For each passenger in the test set, use the model you trained to predict whether or not they survived the sinking of the Titanic.
					</p>
					<p>
						We also include gender_submission.csv, a set of predictions that assume all and only female passengers survive, as an example of what a submission file should look like.
					</p>
					<p>
						The training set should be used to build your machine learning models. For the training set, we provide the outcome (also known as the “ground truth”) for each passenger. Your model will be based on “features” like passengers’ gender and class. You can also use feature engineering to create new features.
					</p>
					<p>
						The test set should be used to see how well your model performs on unseen data. For the test set, we do not provide the ground truth for each passenger. It is your job to predict these outcomes. For each passenger in the test set, use the model you trained to predict whether or not they survived the sinking of the Titanic.
					</p>
					<p>
						We also include gender_submission.csv, a set of predictions that assume all and only female passengers survive, as an example of what a submission file should look like.
					</p>
					<p>
						The training set should be used to build your machine learning models. For the training set, we provide the outcome (also known as the “ground truth”) for each passenger. Your model will be based on “features” like passengers’ gender and class. You can also use feature engineering to create new features.
					</p>
					<p>
						The test set should be used to see how well your model performs on unseen data. For the test set, we do not provide the ground truth for each passenger. It is your job to predict these outcomes. For each passenger in the test set, use the model you trained to predict whether or not they survived the sinking of the Titanic.
					</p>
					<p>
						We also include gender_submission.csv, a set of predictions that assume all and only female passengers survive, as an example of what a submission file should look like.
					</p>
					<p>
						The training set should be used to build your machine learning models. For the training set, we provide the outcome (also known as the “ground truth”) for each passenger. Your model will be based on “features” like passengers’ gender and class. You can also use feature engineering to create new features.
					</p>
					<p>
						The test set should be used to see how well your model performs on unseen data. For the test set, we do not provide the ground truth for each passenger. It is your job to predict these outcomes. For each passenger in the test set, use the model you trained to predict whether or not they survived the sinking of the Titanic.
					</p>
					<p>
						We also include gender_submission.csv, a set of predictions that assume all and only female passengers survive, as an example of what a submission file should look like.
					</p>
					<p>
						The training set should be used to build your machine learning models. For the training set, we provide the outcome (also known as the “ground truth”) for each passenger. Your model will be based on “features” like passengers’ gender and class. You can also use feature engineering to create new features.
					</p>
					<p>
						The test set should be used to see how well your model performs on unseen data. For the test set, we do not provide the ground truth for each passenger. It is your job to predict these outcomes. For each passenger in the test set, use the model you trained to predict whether or not they survived the sinking of the Titanic.
					</p>
					<p>
						We also include gender_submission.csv, a set of predictions that assume all and only female passengers survive, as an example of what a submission file should look like.
					</p>
				</div>
			</section>

			<section v-show="article_number === 3" id="article3">
				<h3 id="title3">特征工程</h3>
				<div id="content3">
					<h6>数据预处理</h6>
					<p>通过数据质量分析，检查原始数据中是否存在脏数据，脏数据包括：缺失值，异常值，不一致的值，重复数据及含有特殊符号的值。本题目中主要是缺失值的处理。</p>

					<p>首先查看每一列的数据以及数据类型</p>
					<div class="row">
						<div class="col">Age</div>
						<div class="col">1046</div>
						<div class="col">non-null</div>
						<div class="col">float64</div>
					</div>
					<div class="row">
						<div class="col">Cabin</div>
						<div class="col">295</div>
						<div class="col"> non-null</div>
						<div class="col">object</div>
					</div>
					<div class="row">
						<div class="col">Embarked</div>
						<div class="col">1307</div>
						<div class="col">non-null</div>
						<div class="col">object</div>
					</div>
					<div class="row">
						<div class="col">Fare</div>
						<div class="col">1308</div>
						<div class="col">non-null</div>
						<div class="col">float64</div>
					</div>
					<div class="row">
						<div class="col">Name</div>
						<div class="col">1309</div>
						<div class="col">non-null</div>
						<div class="col">object</div>
					</div>
					<div class="row">
						<div class="col">Parch</div>
						<div class="col">1309</div>
						<div class="col">non-null</div>
						<div class="col">int64</div>
					</div>
					<div class="row">
						<div class="col">PassengerId</div>
						<div class="col">1309</div>
						<div class="col">non-null</div>
						<div class="col">int64</div>
					</div>
					<div class="row">
						<div class="col">Pclass</div>
						<div class="col">1309</div>
						<div class="col">non-null</div>
						<div class="col">int64</div>
					</div>
					<div class="row">
						<div class="col">Sex</div>
						<div class="col">1309</div>
						<div class="col">non-null</div>
						<div class="col">object</div>
					</div>
					<div class="row">
						<div class="col">SibSp</div>
						<div class="col">1309</div>
						<div class="col">non-null</div>
						<div class="col">int64</div>
					</div>
					<div class="row">
						<div class="col">Survived</div>
						<div class="col">891</div>
						<div class="col">non-null</div>
						<div class="col">float64</div>
					</div>
					<div class="row">
						<div class="col">Ticket</div>
						<div class="col">1309</div>
						<div class="col">non-null</div>
						<div class="col">object</div>
					</div>
					<br>

					<p>缺失值分析：</p>
					<div class="row">
						<div class="col">属性</div>
						<div class="col">含义</div>
						<div class="col">数据总数</div>
						<div class="col">缺失值</div>
						<div class="col">缺失率</div>
					</div>
					<div class="row">
						<div class="col">Age</div>
						<div class="col">年龄</div>
						<div class="col">1046</div>
						<div class="col">263</div>
						<div class="col">20.09%</div>
					</div>
					<div class="row">
						<div class="col">Cabin</div>
						<div class="col">船舱号</div>
						<div class="col">295</div>
						<div class="col">1014</div>
						<div class="col">77.46%</div>
					</div>
					<div class="row">
						<div class="col">Embarked</div>
						<div class="col">登船港口</div>
						<div class="col">1307</div>
						<div class="col">2</div>
						<div class="col">0.15%</div>
					</div>
					<div class="row">
						<div class="col">Fare</div>
						<div class="col">船票价格</div>
						<div class="col">1308</div>
						<div class="col">1</div>
						<div class="col">0.08%</div>
					</div>
					<div class="row">
						<div class="col">Name</div>
						<div class="col">姓名</div>
						<div class="col">1309</div>
						<div class="col">0</div>
						<div class="col">0</div>
					</div>
					<div class="row">
						<div class="col">Parch</div>
						<div class="col">父母/子女数目</div>
						<div class="col">1309</div>
						<div class="col">0</div>
						<div class="col">0</div>
					</div>
					<div class="row">
						<div class="col">PassengerID</div>
						<div class="col">乘客编号</div>
						<div class="col">1309</div>
						<div class="col">0</div>
						<div class="col">0</div>
					</div>
					<div class="row">
						<div class="col">Pclass</div>
						<div class="col">船舱等级</div>
						<div class="col">1309</div>
						<div class="col">0</div>
						<div class="col">0</div>
					</div>
					<div class="row">
						<div class="col">Sex</div>
						<div class="col">性别</div>
						<div class="col">1309</div>
						<div class="col">0</div>
						<div class="col">0</div>
					</div>
					<div class="row">
						<div class="col">SibSp</div>
						<div class="col">兄弟姐妹、配偶数列</div>
						<div class="col">1309</div>
						<div class="col">0</div>
						<div class="col">0</div>
					</div>
					<div class="row">
						<div class="col">Ticket</div>
						<div class="col">船票号码</div>
						<div class="col">1309</div>
						<div class="col">0</div>
						<div class="col">0</div>
					</div>
					<div class="row">
						<div class="col">Surviied</div>
						<div class="col">存活(1)/死亡(0)</div>
						<div class="col">891</div>
						<div class="col">0</div>
						<div class="col">0</div>
					</div>
					<br>

					<p>需要进行缺失值处理的有: Age, Cabin, Embarked, Fare</p>
					<div class="row">
						<div class="col">属性</div>
						<div class="col">处理方法</div>
						<div class="col">说明</div>
					</div>

					<div class="row">
						<div class="col">Age</div>
						<div class="col">平均值填充</div>
						<div class="col">Age 是数值型, 暂时用平均值填充</div>
					</div>

					<div class="row">
						<div class="col">Cablin</div>
						<div class="col">舍弃</div>
						<div class="col">Cablin 缺失较多, 难以估计</div>
					</div>

					<div class="row">
						<div class="col">Embarked</div>
						<div class="col">众数填充</div>
						<div class="col">Embarked 缺失较少且是分类数据, 众数是'S'</div>
					</div>

					<div class="row">
						<div class="col">Fare</div>
						<div class="col">平均值填充</div>
						<div class="col">Fare 是数值型, 只缺失一行数据</div>
					</div>
					<br>

					<p>图表分析</p>
					<div class="row justify-content-center">
						<div class="col">
							<div id="mychart1" class="my_pad_32"></div>
						</div>
					</div>
					
					<div class="row justify-content-center">
						<div class="col">
							<div id="mychart2" class="my_pad_32"></div>
						</div>
					</div>

					<div class="row justify-content-center">
						<div class="col">
							<div id="mychart3" class="my_pad_32"></div>
						</div>
					</div>

					<div class="row justify-content-center">
						<div class="col">
							<div id="mychart4" class="my_pad_32"></div>
						</div>
					</div>

					<div class="row justify-content-center">
						<div class="col">
							<div id="mychart5" class="my_pad_32"></div>
						</div>
					</div>

				</div>
			</section>

			<section v-show="article_number === 4" id="article4">
				<h3 id="title4">模型运用</h3>
				<div id="content4">
					<div class="row justify-content-center my_pad_32">
						<div class="col-auto">惠更斯号乘客信息</div>
					</div>

					<div class="row justify-content-center">
						<div class="col-auto">
							<form v-on:submit.prevent="do_submit_passenger_info">
								<div class="form-row my_pad_4">
									<div class="col">
										<input class="form-control" placeholder="船舱等级" v-model="Pclass" required>
									</div>
								</div>

								<div class="form-row my_pad_4">
									<div class="col">
										<input class="form-control" placeholder="姓名" v-model="Name" required>
									</div>
								</div>

								<div class="form-row my_pad_4">
									<div class="col">
										<input class="form-control" placeholder="性别" v-model="Sex" required>
									</div>
								</div>

								<div class="form-row my_pad_4">
									<div class="col">
										<input class="form-control" placeholder="年龄" v-model="Age" required>
									</div>
								</div>

								<div class="form-row my_pad_4">
									<div class="col">
										<input class="form-control" placeholder="兄弟姐妹数量" v-model="SibSp" required>
									</div>
								</div>

								<div class="form-row my_pad_4">
									<div class="col">
										<input class="form-control" placeholder="父母/孩子数量" v-model="Parch" required>
									</div>
								</div>

								<div class="form-row my_pad_4">
									<div class="col text-left">
										<input class="form-control result-style" placeholder="生存指数: " v-model="response" disabled>
									</div>
								</div>

								<div class="form-row my_pad_4">
									<div class="col">
										<button class="btn btn-primary my_width_100pct">提交</button>
									</div>
								</div>

							</form>
						</div>
					</div>

				</div>
			</section>

			<section v-show="article_number === 5" id="article5">
				<h3 id="title5">赛题总结</h3>
				<div id="content5">
					<p>
						todo
					</p>
				</div>
			</section>
		</article>
	</main>
</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.13/vue.js"></script>
<script src="https://cdn.bootcss.com/axios/0.17.1/axios.js"></script>
<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
<script src="/static/ml_practice/ml_practice.js"></script>
</html>
