<!DOCTYPE html>
<html>
<head>
	<title>用户管理</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.bootcss.com/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/mynavbar.css">
	<link rel="stylesheet" href="/static/user/admin.css">
</head>
<body>
	<main class="container" id="adminpanel">

		<section class="row mypadding-64">
			<div class="col text-center">
				<h2>用户管理</h2>
				<!-- <button class="btn btn-primary" v-on:click="doCreate()">新增</button> -->
				<!-- <button class="btn btn-danger">删除</button> -->
			</div>
		</section>

		<section class="row justify-content-end mypadding-16" style="margin: 16px;">
			<div class="col-3">
				<input class="form-control" type="text" placeholder="用户名" v-model="keyword">
			</div>
			<div class="col-1">
				<button class="btn btn-primary" v-on:click="doSearch()">查找</button>
			</div>
			<div class="col-1">
				<button class="btn btn-secondary" v-on:click="doCancel()">取消</button>
			</div>
		</section>


		<table class="table table-striped table-hover mypadding-16">
			<thead>
				<tr>
					<th scope="col" style="width:16%">序号</th>
					<th scope="col">用户名</th>
					<th scope="col">昵称</th>
					<th scope="col" style="width:20%">邮箱</th>
					<th scope="col" style="width:20%">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="index in getIndexlist()">
					 <th scope="row">{{ index + 1 }}</td> 
					<td>{{ userlist[index].username }}</td>
					<td>{{ userlist[index].nickname }}</td>
					<td>{{ userlist[index].email }}</td>
					<td>
						<button class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#userModal" v-on:click="openModal(index, '修改')">修改</button>
						<button class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#userModal" v-on:click="openModal(index, '删除')">删除</button>
					</td>
				</tr>
			</tbody>
		</table>

		<!-- Modal -->
		<section class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="userModalLabel">用户名：{{ user.username }}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-row">
							<div class="col-2" style="padding: 6px 12px 6px 12px;">昵称</div>
							<div class="col-8">
								<input tpye="text" class="form-control" v-model="user.nickname" placeholder="昵称" required>
							</div>
						</div>

						<div class="form-row">
							<div class="col-2" style="padding: 6px 12px 6px 12px;">邮箱</div>
							<div class="col-8">
								<input tpye="text" class="form-control" v-model="user.email" placeholder="邮箱" required>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="doRequest()">确认{{ operation }}</button>
					</div>
				</div>
			</div>
		</section>

		<section class="row mypadding-16">
			<div class="col">总页数：{{ maxPage }}</div>
		</section>

		<section class="mypadding-16">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-end">
					<li class="page-item">
						<button class="page-link" v-on:click="decPage()">&laquo;</button>
					</li>
					<li class="page-item"><input class="page-link mypagination" type="text" v-model="curPage"></li>
					<li class="page-item">
						<button class="page-link" v-on:click="addPage()">&raquo;</button>
					</li>
				</ul>
			</nav>
		</section>

	</main>
</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.13/vue.js"></script>
<script src="https://cdn.bootcss.com/axios/0.17.1/axios.js"></script>
<script src="/static/user/admin.js"></script>
</html>