body {
	padding-top: 128px;
}

body > header{
	background-color: #000;
}

#mybrand{
	width: 20%;
	padding-left: 16px;
	padding-right: 16px;
}

#navbarCollapse{
	width: 80%;
	padding-left: 24px;
}

#myprofile{
	width: 240px;
}

.form-row{
	margin: 8px;
}

p#error{
	color: red;
}

.mypadding-64{
	padding: 64px;
}

.mypadding-16{
	padding: 16px;
}

.form-row{
	margin: 8px;
}

.modal{
	top: 24%;
}

.mypagination{
	width: 64px;
    text-align: center;
}