<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
		<title>机器学习网站</title>
		<link rel="stylesheet" href="/static/bootstrap.min.css">
		<link rel="stylesheet" href="/static/user/signin_signup.css">
</head>
<body>
	<!-- 顶部导航 -->
	<header class="navbar-inverse navbar-fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/">机器学习网站</a>
			<section>
				<ul class="nav navbar-nav" id="ul1">
					<li>
						<a href="/ml_tutorial">入门教程</a>
					</li>
					<li>
						<a href="/ml_practice">实战教程</a>
					</li>
				</ul>
			</section>
			<section>
				<ul class="nav navbar-nav" id="ul2">
					<li class="active">
						<a href="/signin">登录</a>
					</li>
					<li>
						<a href="/signup">注册</a>
					</li>
				</ul>
			</section>
		</div>
	</header>

	<main class="container">
		<div id="signup" class="row justify-content-center">
			<div class="col-auto">
				<form v-on:submit.prevent="do_signup">
					<h4 class="signup-header">注册</h4>
					<div class="form-row">
						<div class="col">
							<input type="text" class="form-control" v-model="username" placeholder="用户名, 3~16个字母或数字" required>
						</div>
					</div>

					<div class="form-row">
						<div class="col">
							<input type="password" class="form-control" v-model="password" placeholder="密码, 6~16个字符" required>
						</div>
					</div>

					<div class="form-row">
						<div class="col">
							<input type="password" class="form-control" v-model="verify" placeholder="请确认密码" required>
						</div>
					</div>

					<div class="form-row">
						<div class="col">
							<input type="text" class="form-control" v-model="email" placeholder="邮箱" required>
						</div>
					</div>

					<div class="form-row">
						 <div class="col">
						 	<button type="submit" class="btn btn-block">注册</button>
						 </div>
					</div>
					
					<div class="form-row justify-content-center" >
						<a href="/signin">已有账号？马上登录</a>
					</div>

					<div class="form-row justify-content-center" v-if="error_msg">
						<p id="error">{{ error_msg }}</p>
					</div>
				</form>
			</div>
		</div>
	</main>
</body>

<script src="/static/vue.js"></script>
<script src="/static/axios.js"></script>
<script src="/static/user/signup.js"></script>
</html>