<!DOCTYPE html>
<html>
<head>
	<title>登录</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link type="text/css" rel="stylesheet" href="/static/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="/static/user/signin_signup.css">
</head>

<body>
<header class="container">
</header>

<main id="signin" class="row justify-content-center">
	<div class="col-auto">
		<form v-on:submit.prevent="do_signin">
			<div class="form-row">
				<div class="col">
					<input type="text" class="form-control" v-model="username" placeholder="用户名" required="required"/>
				</div>
			</div>

			<div class="form-row">
				<div class="col">
					<input type="password" class="form-control" v-model="password" placeholder="密码" required="required" />
				</div>
			</div>

			<div class="form-row">
				<div class="col">
					<button type="submit" class="btn btn-primary btn-block">登录</button>
				</div>
			</div>
			
			<div class="form-row justify-content-center">
				<a href="/signup">没有账号？立即注册</a>
			</div>

			<div class="form-row justify-content-center" v-if="error_msg">
				<p id="error">{{ error_msg }}</p>
			</div>
		</form>
	</div>
</main>
</body>

<script src="/static/vue.js"></script>
<script src="/static/axios.js"></script>
<script src="/static/user/signin.js"></script>
</html>