.jumbotron{
	height: 400px;
	margin-top: 32px;
	margin-bottom: 32px;
	background-image: url('/static/assets/bg.jpg');
	background-repeat: no-repeat;
	background-position: center top;
}

aside > img {
	width: 100%;
}

section > h1 {
	text-align: center;
	margin-bottom: 60px;
}

section.row{
	padding-top: 32px;
	padding-bottom: 32px;
}